* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}
@import '~antd/dist/antd.css';
body {
  background-color: #eeeeee;
}

.topBar {
  display: flex;
  align-items: center;
  background-color: #31e8dc;
  font-size: large;
  font-weight: bold;
  height: 60px;
  margin: 20px 0 20px 0;
  padding: 20px;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.formDiv {
  width: 20%;
}

.heading {
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
}
form .form-group {
  margin-bottom: 10px;
  width: 100%;
}

input {
  border: none;
  outline: none;
}
form .form-group input {
  display: block;
  width: 100%;
  padding: 10px 10px;
  border-radius: 5px;
  transition: 0.4s;
}
form .form-group input:focus {
  box-shadow: 0px 0px 3px cyan;
}

form .form-group input[type='submit'] {
  display: block;
  background-color: #0bdfdf;
  color: white;
  width: 100%;
  font-weight: 600;
}

form .form-group p {
  color: red;
  font-size: small;
}

.submitBtn {
  width: 100%;
}

a {
  text-decoration: none;
  color: #5180b5;
}
a:hover {
  text-decoration: underline;
}

.errorMessage {
  font-size: small;
  color: red;
}

.userDetails {
  font-size: 15px;
  font-weight: bold;
}

.contentHome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.content,
.controllerContainer,
.calendarContainer {
  width: 80%;
  padding: 20px;
  border: rgb(151, 136, 136) 1px solid;
  border-radius: 5px;
  margin-top: 20px;
  background-color: #ffffff;
}

.controlHeader {
  display: flex;
  justify-content: space-between;
}

.controller {
  margin-top: 20px;
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-top: rgb(139, 134, 134) 1px solid;
}
.controller p {
  padding: 0;
  margin: 0;
}
.controlBtn {
  padding: 5px;
  width: 80%;
  font-weight: bold;
}

.clock {
  font-size: 20px;
  font-weight: bold;
  color: rgb(24, 144, 255);
}

.calendarContainer {
  display: block;
}

.calendarHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 0 20px;
}

table,
th,
td {
  border: 1px solid black;
  padding: 5px;
}

table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  margin-top: 20px;
}

th {
  font-weight: bold;
  font-style: italic;
}

.welcomeForm {
  width: 50%;
}

.welcomeForm form .form-group select {
  background-color: transparent;
  border: grey 1px solid;
  border-radius: 5px;
  padding: 5px;
  margin: 0;
  width: 100%;
  cursor: pointer;
}
.welcomeForm form .form-group input {
  border: 1px solid grey;
}

.select {
  width: 100%;
  /* font-size: 1.25rem; */
  line-height: 1.1;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}

.calendarEvent {
  color: rgb(34, 63, 226);
}

.events {
  margin: 0;
  padding: 0;
  list-style: none;
}
.events .ant-badge-status {
  width: 100%;
  overflow: hidden;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.notes-month {
  font-size: 28px;
  text-align: center;
}
.notes-month section {
  font-size: 28px;
}

.ant-picker-content thead {
  background-color: rgb(52, 247, 188);
  font-size: 20px;
}
.ant-picker-panel {
  /* width: 1000px !important; */
  overflow: scroll;
}
.ant-picker-body {
  /* width: 100%; */
  width: 100%;

  /* overflow: scroll !important; */
}

@media (max-width: 500px) {
  .heading {
    font-size: 15px;
    margin-bottom: 10px;
  }

  form .form-group input[type='submit'] {
    font-size: 10px;
    padding: 5;
  }
  form a {
    font-size: 10px;
  }

  .welcomeForm,
  .formDiv {
    width: 70%;
  }
  option {
    font-size: 10px;
    width: 50%;
  }
  .controlHeader {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .userDetails {
    font-size: 10px;
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: 10px;
    align-items: center;
  }
  .userDetailRight {
    display: flex;
    justify-content: space-between;
  }
  .userDetails p,
  .userDetails h1 {
    margin: 0;
  }
  .controller {
    margin-top: 20px;
    padding-top: 20px;
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr;
    border-top: rgb(139, 134, 134) 1px solid;
    justify-items: center;
  }
  .totalHour,
  .clockin,
  .clockout,
  .break {
    width: 100%;
    text-align: center;
  }
  .calendarHeader {
    display: grid;
    grid-template-columns: 1fr;
  }
  /* .welcomeForm {
    font-size: small;
  } */
  .ant-picker-body {
    /* width: 100%; */
    width: 800px;

    /* overflow: scroll !important; */
  }
}
