
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  body{
    background-color: #eeeeee;

  }

  .topBar{
      background-color: #31e8dc;
    font-size: large;
    font-weight: bold;
    height: 60px;
    margin: 20px 0 20px 0;
  }

  .main{
    display: flex;
    align-items: center;
    justify-content: center;

  }

  form{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 30%;
  }
form .form-group {
  margin-bottom: 10px;
}

  input{
    border: none;
    outline: none;
  }
form .form-group input {
  display: block;
  width: 100%;
  padding: 10px 10px;
  border-radius: 5px;
  transition: 0.4s;
}
form .form-group input:focus{
  box-shadow: 0px 0px 3px cyan;
}

form .form-group input[type="submit"]{
  display: block;
  background-color: #0bdfdf;
  color: white;
 
  font-weight:600;
}

form .form-group p{
  color: red;
  font-size: small;
}

.submitBtn{
  width: 60%;
}

a{
  text-decoration: none;
  color: #5180b5;
}
a:hover{
  text-decoration: underline;
}

.errorMessage{
  font-size: small;
  color: red
}


